.jumbo {
    width: 100%;
    text-align: center;
    height: 210px;
  
  }
.jumbotron {
  height: 210px;
  background-color: black;
  border: 3px double  #6e148a;
  color:  #6e148a;
}
p {
  font-size: 20px;
}