
.characterImage {
    height: 240px;
    width: 240px;
    padding: 8px; 
    margin: 5px;
    border: 2px solid black;
    display: inline-block;
}

.gallery {
    background: #ffffff;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
} 

.desc {
    background: #6e148a;
    color: #ffffff;
    padding: 5px;
    width: 250px;
    border: 1px solid #cccccc;
    position: absolute;
    bottom: 8%;
    font-size: 20px;
}