
.characterImage {
    height: 175px;
    width: 175px;
    padding: 8px; 
    margin: 5px;
    border: 2px solid black;
    display: inline-block;
}

.gallery {
    background: #ffffff;
    float: left;
    margin-right: 8px;
    margin-top: 8px;
    position: relative;
} 

.desc {
    background: #6e148a;
    color: #ffffff;
    padding: 5px;
    width: 185px;
    border: 1px solid #cccccc;
    position: absolute;
    bottom: 8%;
    font-size: 16px;
}